<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh sửa Phòng Ban</title>
    <link rel="stylesheet" href="/css/common.css"> <!-- Linked external CSS -->

</head>
<body>
<div th:if="${session.user == null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.location.href = /*[[@{/login}]]*/ '/login';
        /*]]>*/
    </script>
</div>
<!-- Header -->
<div th:replace="layout/header :: header(#{admin.editAchievementHeader})"></div>

<!-- Sidebar -->
<div th:replace="layout/sidebar :: sidebar"></div>

<!-- Nội dung chính -->

    <!-- Nội dung chính -->
    <div class="main-content">
        <div id="toast-error">
            <span th:text="${errorMessage}"></span>
        </div>
        <h2 th:text="#{admin.editAchievement}">Chỉnh sửa thành tích</h2>

        <!-- Form chỉnh sửa thành tích -->
        <form th:action="@{/admin/achievements/edit/{id}(id=${achievement.id})}" th:object="${achievement}" method="post">
            <div class="grid">
                <div class="col-6">
                    <label for="employee" th:text="#{label.employee}">Nhân Viên:</label>
                    <select class="select-content" th:field="*{employeeId}">
                        <option value="" disabled selected th:text="#{label.selectEmployee}">Chọn Nhân Viên</option>
                        <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.name}"></option>
                    </select>
                </div>

                <div class="col-6">
                    <label for="type" th:text="#{label.type}">Loại:</label>
                    <select class="select-content" th:field="*{type}" id="type">
                        <option value="0" th:text="#{label.punishment}" th:selected="${achievement.type == 0}">Kỷ luật</option>
                        <option value="1" th:text="#{label.reward}" th:selected="${achievement.type == 1}">Khen thưởng</option>
                    </select>
                </div>

                <div class="full-width">
                    <label for="reason" th:text="#{label.reason}">Lý Do:</label>
                    <textarea th:field="*{reason}" id="reason" th:placeholder="#{placeholder.reason}">Nhập lý do</textarea>
                </div>

                <div class="col-6">
                    <label for="date" th:text="#{label.date}">Ngày:</label>
                    <input type="date" th:field="*{date}" id="date">
                </div>

                <div class="full-width">
                    <button type="submit" th:text="#{button.save}">Lưu</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
<div th:replace="layout/footer :: footer"></div>
<script src="/js/language-selector.js"></script>
<script src="/js/common.js"></script> <!-- Linked external JS -->

</body>
</html>
