    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thêm Phòng Ban</title>
        <link rel="stylesheet" href="/css/common.css">

    </head>
    <body>
    <div th:if="${session.user == null}">
        <script th:inline="javascript">
            /*<![CDATA[*/
            window.location.href = /*[[@{/login}]]*/ '/login';
            /*]]>*/
        </script>
    </div>
    <!-- Header -->
    <div th:replace="layout/header :: header(#{employee.detailsHeader})"></div>

    <!-- Sidebar -->
    <div th:replace="layout/sidebar :: sidebar"></div>

    <div class="main-content">


        <div  id="toast-error" >
            <span th:text="${errorMessage}"></span>
        </div>


        <h1 th:text="#{employee.detailsTitle}">Chi tiết Nhân Viên</h1>

        <div class="employee-details">
            <!-- Thông tin nhân viên -->
            <div class="employee-info">
                <p><strong th:text="#{label.employeeCode}">Mã nhân viên:</strong> <span th:text="${employeeDTO.code}"></span></p>
                <p><strong th:text="#{label.employeeName}">Tên nhân viên:</strong> <span th:text="${employeeDTO.name}"></span></p>
                <p><strong th:text="#{label.employeeEmail}">Email:</strong> <span th:text="${employeeDTO.email}"></span></p>
                <p><strong th:text="#{label.employeeGender}">Giới tính:</strong> <span th:text="${employeeDTO.gender}"></span></p>
                <p><strong th:text="#{label.employeeSalary}">Lương:</strong> <span th:text="${employeeDTO.salary}"></span></p>
                <p><strong th:text="#{label.employeeLevel}">Cấp độ:</strong> <span th:text="${employeeDTO.level}"></span></p>
                <p><strong th:text="#{label.employeeDob}">Ngày sinh:</strong> <span th:text="${employeeDTO.dob}"></span></p>
                <p><strong th:text="#{label.employeeDepartment}">Phòng ban:</strong> <span th:text="${employeeDTO.departmentName != null ? employeeDTO.departmentName : '#{label.noDepartment}'}"></span></p>
            </div>

            <!-- Hình ảnh nhân viên -->
            <div class="employee-image">
                <img th:if="${employeeDTO.image != null}" th:src="@{/admin/employees/files/{filename}(filename=${employeeDTO.image})}" alt="Employee Image"/>
                <p th:if="${employeeDTO.image == null}" th:text="#{label.noImage}">Không có ảnh</p>
            </div>
        </div>

        <a th:href="@{/admin/employees/list}" th:text="#{button.backToList}">Quay lại danh sách</a>
    </div>

    <!-- Footer -->
    <div th:replace="layout/footer :: footer"></div>
    <script src="/js/language-selector.js"></script>

    <script>


    </script>
    </body>
    </html>
